.blinker {
  animation: blink 0.8s linear infinite;
}

.infoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
  width: 100%;
  text-align: center;
  max-width: 240px;

  h5 {
    opacity: 0.6;
    display: block;
    text-align: center;
    font-size: 1.8rem;
  }

  @media (min-width: 768px) {
    padding: 70px 50px;
    width: auto;
    max-width: 2000px;
    font-size: 1.4rem;
  }
}

.fakeTerminal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}