.day {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.1);
  border-radius: 2px;
  margin: 2px;
  font-size: 1.6rem;

  @media (min-width: 768px) {
    border-radius: 5px;
    margin: 5px;
    font-size: 2rem;
    line-height: 2.6rem;
    height: calc((40vw - 50px) / 7);
    line-height: calc((40vw - 50px) / 7);
  }
}

.currentDay {
  composes: day;
  background-color: #ffeb3b;
  color: #292d3e;
}
